body{
	margin: 0;
	padding: 1%;
	padding-bottom: 3%;
	background-image: url('wonders.jpg');
}
header{ 
	background: linear-gradient(#FFE082,#FFFFFF);
	text-align: center;
	width: auto;
	height: 90px;
}
h1{
	text-align: center;
	font-size: 50px;
	color: #b66a4de6;
}
p{
	
	
	padding: 5%;
	font-size: 200%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: italic;
	text-align: center;
	color: #000080;
	background-color: linear-gradient(#FFD700,#FFFFFF);
}
h2{
	text-align: center;
	font-size: 35px;
	color: #ff7043;
	background-color: #F0FFF0;
	border-radius: 20%;
	margin-left: 30%;
	margin-right: 30%;
	padding: 5px;
	text-align: center;
}
nav a{
	display: inline-block;
	margin-left: 1.5%;
	margin-right: 1.5%;
	text-decoration: none;
	border-style: solid;
	border-width: 1px 1px;
	border-color: #000000;
	border-radius: 20px;
	padding: 0.5%;
	padding-left: 7%;
	padding-right: 7%;
	transition-property: color,width,background,border-radius;
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay: .5s;
	transition: 1.5s ease;
	opacity: 10;
	font-size: 20px;
	background:linear-gradient(#7FFFD4,#FFFFFF);
}
section{
	opacity: 10;
}
.wonders{
	border-style: solid;
	border-width: 1px 1px;
	display: block;
	background:linear-gradient(#FFD700,#FFFFFF);	
	background-color: blue;
	margin-top:1.5%;
	border-radius: 15%;
}
nav a:hover{/*Pseudo classes*/
	background:#B3B3B3;
	color: #0006CC;
	border-radius: 50px;
	width: 50px;
	transition-delay: .3s;
	
}
.wonders2{
	z-index: 100;
}
.wonders3{
	margin-right: 100px;
	margin-right: 300px;
}

